<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
            <a class="navbar-brand">
                User Home
            </a>
    </div>
</nav>
<nav ng-if="model.loginMessage" class="navbar-fixed-top">
    <div class="row container padded-message">
        <div ng-if="model.loginMessage" class="alert alert-success" role="alert">
            {{model.loginMessage}}
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if ="model.error" class="alert alert-danger" role="alert">
        <button ng-click="model.error = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.error}}</div>
    <div ng-if="model.message" class="alert alert-success alert-dismissible" role="alert">
        <button ng-click="model.message = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.message}}
    </div>
    <div infinite-scroll="model.myPagingFunction()"
         infinite-scroll-distance="3">
        <div ng-repeat ="movie in model.tmdbData.results"
             ng-if="movie.poster_path"
             class="vj-padded"
             view-resize>
            <div ng-if="movie.poster_path" class="row row-padded">
                <div ng-click="model.viewMovie(movie)" class="col-xs-4 min-size-image">
                    <img width="100%"
                         id="poster"
                         ng-src="{{model.tmdbImageUrl + movie.poster_path}}"
                         class="thumbnail min-size-image"
                         imageonload>
                    </img>
                </div>
                <div ng-click="model.viewMovie(movie)" class="col-xs-8">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                {{movie.title + ' (' + movie.release_date.substring(0,4) + ')' + model.getLang(movie.original_language)}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div id="overview" class="limit-text">
                                    {{movie.overview}}
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row navbar-text col-xs-12">
                    <div ng-click="model.displayLoginMessage()" class="col-xs-4 text-center">
                        <a>
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </a>
                    </div>
                    <div ng-click="model.displayLoginMessage()" class="col-xs-4 text-center">
                        <a>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                    </div>
                    <div ng-click="model.displayLoginMessage()" class="col-xs-4 text-center">
                        <a>
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">
            <a>
                <span class="glyphicon glyphicon-home icon-left white"></span>
            </a>
        </p>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.user._id}}/search">
                <span class="glyphicon glyphicon-search icon-right"></span>
            </a>
        </p>
    </div>
</nav>