<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
            <a class="navbar-brand">
                User Home
            </a>

        <p class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}/profile" class="gly">
                <span class="glyphicon glyphicon-user icon-right"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container">
    <div ng-if ="model.error" class="alert alert-danger" role="alert">
        <button ng-click="model.error = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.error}}</div>
    <div ng-if="model.message" class="alert alert-success" role="alert">
        <button ng-click="model.message = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.message}}
    </div>
    <div infinite-scroll="model.myPagingFunction()"
         infinite-scroll-distance="3">
        <div ng-repeat ="movie in model.tmdbData.results"
             ng-if="movie.poster_path && model.movieList[movie.id]==null"
             class="vj-padded"
             view-resize>
            <div ng-if="movie.poster_path"
                 id ="{{movie.id}}"
                 class="row row-padded">
                <div ng-click="model.viewMovie(movie)">
                    <div class="col-xs-4 min-size-image">
                        <img width="100%"
                             id="poster"
                             ng-src="{{model.tmdbImageUrl + movie.poster_path}}"
                             class="thumbnail min-size-image"
                             imageonload>
                        </img>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div>
                                <b>{{movie.title + ' (' + movie.release_date.substring(0,4) + ')' + model.getLang(movie.original_language)}}</b>
                            </div>
                        </div>
                        <div class="row">
                            <div id="overview" class="limit-text">
                                {{movie.overview}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row navbar-text col-xs-12">
                    <p id ="rd{{movie.id}}"
                         class="col-xs-4 text-center">
                        <a id ="ra{{movie.id}}" href=""
                           class="gly"
                           ng-click="model.addMovieToDislikeList($event, $index, movie)">
                            <span class="glyphicon glyphicon-remove remove" id ="rs{{movie.id}}"></span>
                        </a>
                    </p>
                    <p id ="ld{{movie.id}}"
                         class="col-xs-4 text-center">
                        <a  id ="la{{movie.id}}"
                            href=""
                            class="gly"
                            ng-click="model.addMovieToLikeList($event, $index, movie)">
                            <span class="glyphicon glyphicon-heart like"  id ="ls{{movie.id}}"></span>
                        </a>
                    </p>
                    <p id ="wd{{movie.id}}"
                         class="col-xs-4 text-center">
                        <a id ="wa{{movie.id}}"
                           class="gly"
                           ng-click="model.addMovieToWatchList($event, $index, movie)"
                           href="">
                            <span class="glyphicon glyphicon-plus add" id ="ws{{movie.id}}"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom vertical-center" >
    <div class="container">
        <div class="col-xs-4 tabbar-item">
            <a>
                <span class="glyphicon glyphicon-home white pull-left icon-left"></span>
            </a>
        </div>
        <div class="col-xs-4 text-center tabbar-item">
            <a href="#/user/{{model.user._id}}/list/0"  class="gly" id ="listLocation">
                <span class="glyphicon glyphicon-th-list"></span>
            </a>
        </div>
        <div class="col-xs-4 text-center tabbar-item">
            <a href="#/user/{{model.user._id}}/search"  class="gly">
                <span class="glyphicon glyphicon-filter pull-right icon-right"></span>
            </a>
        </div>
    </div>
</nav>
