<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand">
            Discover Movies
        </a>
    </div>
</nav>

<div class="container">
    <div ng-if ="model.error" class="alert alert-danger" role="alert">
        <button ng-click="model.error = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.error}}</div>
    <div ng-if="model.message" class="alert alert-success alert-dismissible" role="alert">
        <button ng-click="model.message = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.message}}
    </div>
    <div>
        <form>
            <div class="input-group col-xs-12 vj-padded">
                <input type="text"
                       ng-model="model.searchObject.searchString"
                       class="search-query form-control"
                       placeholder="Search" />
            <span class="input-group-btn">
                <button ng-click="model.search()" class="btn btn-primary" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
            </div>
            <label for="yearPicker">Date</label>
            <select name="date"
                    id="date"
                    ng-model="model.searchObject.yearType"
                    class="form-control">
                <option selected="selected">After</option>
                <option>Before</option>
                <option>Release Year</option>
            </select>
            <select name="yearPicker"
                    id="yearPicker"
                    ng-model="model.searchObject.year"
                    class="form-control">
            </select>
            <label for="languagePicker">Language</label>
            <select name="languagePicker"
                    id="languagePicker"
                    ng-model="model.searchObject.language"
                    class="form-control">
            </select>
            <div for="ageLock" class="switch-space">
                <input type="checkbox"
                       ng-model="model.searchObject.ageLock"
                       name="ageLock"
                       id="ageLock">
                <label class="switch-label" for="ageLock">Age Lock</label>
            </div>
            <a class="btn btn-danger btn-block"
               ng-click="model.reset()"
               role="button">Reset</a>
            <a class="btn btn-primary btn-block"
               ng-click="model.search()"
               role="button">Search</a>
        </form>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-12">
                <a href="#/user/{{model.user._id}}">
                    <span class="pull-left">
                        <span class="glyphicon glyphicon-home"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>