<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left icon-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click = "model.updateWebsite(model.website)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok icon-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if ="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <form>
        <div class="form-group">
            <label for="website-name">Website Name</label>
            <input ng-model = "model.website.name"
                   value="Apple"
                   placeholder="Website Name"
                   type="text"
                   class="form-control"
                   id="website-name"/>
        </div>
        <div class="form-group">
            <label for="website-description">Website Description</label>
            <textarea ng-model = "model.website.description"
                      placeholder="Website description"
                      rows="4"
                      class="form-control"
                      id="website-description">Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that designs, develops, and sells consumer electronics, computer software, and online services. Its hardware products include the iPhone smartphone, the iPad tablet computer, the Mac personal computer, the iPod portable media player, and the Apple Watch smartwatch. Apple's consumer software includes the OS X and iOS operating systems, the iTunes media player, the Safari web browser, and the iLife and iWork creativity and productivity suites. Its online services include the iTunes Store, the iOS App Store and Mac App Store, and iCloud.</textarea>
        </div>
    </form>
    <a ng-click = "model.deleteWebsite(model.wid)"
       class="btn btn-danger btn-block"
       href="#/user/{{model.uid}}/website"
       role="button">Delete</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <span class="glyphicon glyphicon-share-alt pull-left icon-left"></span>
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user pull-right icon-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>