<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#/website-new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus icon-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group ">
        <li class="list-group-item borderless">
            <a href="#/page-list">
                Google
            </a>
            <a href="#/website-edit">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="#/page-list">
                Apple
            </a>
            <a href="#/website-edit">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="#/page-list">
                Facebook
            </a>
            <a href="#/website-edit">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="#/page-list">
                Tesla
            </a>
            <a href="#/website-edit">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user pull-right icon-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>