<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <p class="navbar-text pull-left">
            <a href="#/home"  class="gly">
                <span class="glyphicon glyphicon-chevron-left icon-left"></span>
            </a>
        </p>
        <p class="navbar-text pull-right">
            <a href="#/login"  class="gly">
                <span class="glyphicon glyphicon-log-in icon-right"></span>
            </a>
        </p>
    </div>
</nav>

<nav ng-if="model.loginMessage" class="navbar-fixed-top">
    <div class="row container padded-message">
        <div ng-if="model.loginMessage" class="alert alert-success" role="alert">
            {{model.loginMessage}}
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if ="model.error" class="alert alert-danger" role="alert">
        <button ng-click="model.error = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.error}}</div>
    <div ng-if="model.message" class="alert alert-success alert-dismissible" role="alert">
        <button ng-click="model.message = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.message}}
    </div>
    <div ng-if="model.movie.poster_path" class="row row-padded">
        <div class="col-xs-5 min-size-image">
            <img width="100%"
                 ng-src="{{model.tmdbImageUrl + model.movie.poster_path}}"
                 class="thumbnail min-size-image">
            </img>
        </div>
        <div class="row col-xs-7">
            <div>
                <b>Title: </b>{{model.movie.title}}
            </div>
            <div>
                <b>Release Date: </b>{{model.movie.release_date}}
            </div>
            <div>
                <b>Language: </b>{{model.getLang(model.movie.original_language)}}
            </div>
        </div>
        <div class="col-xs-12">
            <b>Plot</b>
        </div>
        <div class="col-xs-12">
            {{model.movie.overview}}
        </div>
    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">
            <a href="#/home"  class="gly">
                <span class="glyphicon glyphicon-home icon-left"></span>
            </a>
        </p>
        <p class="navbar-text pull-right">
            <a href="#/search"  class="gly">
                <span class="glyphicon glyphicon-filter icon-right"></span>
            </a>
        </p>
    </div>
</nav>