<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand">
            Discover Movies
        </a>
        <p class="navbar-text pull-right">
            <a href="#/login"  class="gly">
                <span class="glyphicon glyphicon-log-in icon-right"></span>
            </a>
        </p>
    </div>
</nav>
<div class="container">
    <div class="row-padded">
        <div>
            <b>What does this web application do?</b><br/>It helps you discover new movies<br/><br/><b>How is this any different from finding popular movies on sites like imdb.com or even a simple Google search?</b><br/>While a Google search can easily find the best comedies or a list of critically acclaimed movies, the results will almost always include movies that you have already watched. This web application remembers every movie that you like, dislike or add to a watchlist and those movies will never be suggested again
            <br/>
            <div class="vj-padded">
                <br/>
                <b>List of cool features</b><ul>
                <li>Filter suggestions by genre, release date, release period, keywords etc.</li>
                <li>Maintain lists of movies that you like, dislike or the ones that you would like to watch later</li>
                <li>Find and Follow people with similar tastes for easy access to their movie lists</li>
                <li>Write reviews and see what other people have to say in the 'reviews' section of each movie</li>
                <li>Search for movies by title and add them to your list</li>
            </ul>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom vertical-center" >
    <div class="container">
        <div class="col-xs-4 tabbar-item">
            <a href="#/home"  class="gly">
                <span class="glyphicon glyphicon-home pull-left icon-left"></span>
            </a>
        </div>
        <div class="col-xs-4 text-center tabbar-item">
            <a>
                <span class="glyphicon glyphicon-info-sign white"></span>
            </a>
        </div>
        <div class="col-xs-4 text-center tabbar-item">
            <a href="#/search"  class="gly pull-right">
                <span class="glyphicon glyphicon-filter pull-right icon-right"></span>
            </a>
        </div>
    </div>
</nav>
