<div class="container">
    <div ng-if ="model.error" class="alert alert-danger" role="alert">
        <button ng-click="model.error = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.error}}</div>
    <div ng-if="model.message" class="alert alert-success alert-dismissible" role="alert">
        <button ng-click="model.message = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{model.message}}
    </div>
    <div class="input-group col-xs-12 vj-padded">
        <input type="text"
               ng-model="searchString"
               class="search-query form-control"
               placeholder="Search" />
        <span class="input-group-btn">
            <button ng-click="model.search(searchString)" class="btn btn-success" type="button">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <div ng-repeat ="movie in model.tmdbData.results"
         ng-if="movie.poster_path"
         class="vj-padded outerdiv">
        <div ng-if="movie.poster_path" class="row row-padded">
            <div id="poster" class="col-xs-4 min-size-image">
                <img width="100%"
                     ng-src="{{model.tmdbImageUrl + movie.poster_path}}"
                     class="thumbnail min-size-image fill">
                </img>
            </div>
            <div class="col-xs-8" style='overflow:hidden !important;'>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{movie.title + ' (' + movie.release_date.substring(0,4) + ')'}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="tabRow">
                            <div id="overview" class="limit-text">
                                {{movie.overview}}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default  navbar-fixed-bottom">
    <div class="container">
        <div class="text-center">
            <a class="btn btn-primary btn-block navbar-btn"
               type="submit"
               ng-click="model.search(searchString)"
               role="button">
                Filtered Suggestions
            </a>
        </div>
    </div>
</nav>