<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.uid}}/profile"  class="gly">
                <span class="glyphicon glyphicon-chevron-left icon-left"></span>
            </a>
        </p>
        <a class="navbar-brand center-text">
            {{model.title}}
        </a>
    </div>
</nav>

<div class="container">
    <div ng-if ="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <div ng-repeat ="user in model.users | orderBy :'followerCount'"
         ng-click="model.viewUser(user, $index)"
         ng-if ="model.checkDisplay(user)"
         class="user-row-padded col-xs-12">
            <div class="col-xs-10">
                <div>
                    <b>Username: </b>{{user.username}}
                </div>
                <div ng-if = "user.firstName || user.lastName">
                    <h4>
                        <span ng-if = "user.firstName">{{user.firstName}}</span>
                        <span ng-if = "user.lastName">{{user.lastName}}</span>
                    </h4>
                </div>

                <div ng-if="user.followerCount">
                    <b>Number of followers:</b> {{user.followerCount}}
                </div>
                <div ng-if="user.followerCount == null || user.followerCount==0">
                    Number of followers: 0
                </div>
                <div ng-if = "!model.followingList" class="btn-padded" >
                    <button ng-click="$event.stopPropagation(); model.follow(user)"
                            type="button"
                            class="btn btn-warning"
                            aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Follow
                    </button>
                </div>
                <div ng-if = "model.followingList" class="btn-padded" >
                    <button ng-click="$event.stopPropagation(); model.unFollow(user)"
                            type="button"
                            class="btn btn-danger"
                            aria-label="Left Align">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Un-Follow
                    </button>
                </div>
            </div>
            <div class="col-xs-2 text-center navbar-text">
                <a aria-label="Left Align" class="navbar-text">
                    <span class="glyphicon glyphicon-chevron-right pull-right icon-right navbar-text"></span>
                </a>
            </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.uid}}"  class="gly">
                <span class="glyphicon glyphicon-home icon-left"></span>
            </a>
        </p>
    </div>
</nav>