<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left icon-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                New Page
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createPage(name, title)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok icon-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if ="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <form novalidate name="model.form">
        <div class="form-group">
            <label for="page-name">Name</label>
            <input ng-model="name"
                   placeholder="Page Name"
                   ng-class="{true: 'formSubmitted'}[model.form.$submitted]"
                   type="text"
                   class="form-control"
                   id="page-name"
                   required/>
        </div>
        <div class="form-group">
            <label for="page-title">Title</label>
            <input ng-model="title"
                   placeholder="Page Title"
                   type="text"
                   class="form-control"
                   id="page-title"/>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user pull-right icon-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>