<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.user._id}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left icon-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus icon-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item borderless">
            <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}/widget">
                Blog Post
            </a>
            <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="#/user/{{model.user._id}}/website">
                Blogs
            </a>
            <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}/widget">
                Home
            </a>
            <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
        <li class="list-group-item borderless">
            <a href="#/user/{{model.user._id}}/website">
                Contact us
            </a>
            <a href="#/user/{{model.user._id}}/website/{{model.website._id}}/page/{{model.page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-user pull-right icon-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>