<div class="container">
    <div ng-if ="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <h1>Login</h1>
    <input ng-model="username"
           placeholder="username"
           type="text"
           class="form-control"/>
    <input ng-model="password"
           placeholder="password"
           type="password"
           class="form-control"/>
    <a class="btn btn-primary btn-block"
       ng-click="model.login(username, password)"
       role="button">Login</a>
    <a class="btn btn-success btn-block"
       href="#/register"
       role="button">Register</a>
</div>
