<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-ok icon-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> The changes you made were saved.
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input placeholder="vjclaud"
                   type="text"
                   class="form-control"
                   id="username"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input placeholder="kliyaraphilip.v@husky.neu.edu"
                   type="email"
                   class="form-control"
                   id="email"/>
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input placeholder="Vijay"
                   type="text"
                   class="form-control"
                   id="first-name"/>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input placeholder="Claud"
                   type="text"
                   class="form-control"
                   id="last-name"/>
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       href="#/website-list"
       role="button">Websites</a>
    <a class="btn btn-danger btn-block"
       href="#/login"
       role="button">Logout</a>
</div>