<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/page-list" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left icon-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/widget-chooser" class="navbar-link">
                    <span class="glyphicon glyphicon-plus icon-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div class="wd-widget">
        <div class="widget-tool">
            <a href="#/widget-heading">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>Gizmodo</h1>
    </div>
    <div class="wd-widget">
        <div class="widget-tool">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>Oh God, Game of Thrones, What Have You Done</h1>
    </div>
    <div class="wd-widget">
        <div class="widget-tool">
            <a href="#/widget-image">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="100%"
             src="https://i.kinja-img.com/gawker-media/image/upload/s--N-BN6ybL--/c_scale,fl_progressive,q_80,w_800/kx7xun97w949wiqfpdcz.jpg"/>
    </div>
    <div class="wd-widget">
        <div class="widget-tool">
            <a href="#/widget-image">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p class="first-text">Just... just stop right now if you haven’t seen tonight’s episode of <em>Game of Thrones</em>. Everyone else, let’s talk about what just happened.</p>
    </div>
    <div class="wd-widget">
        <div class="widget-tool">
            <a href="#/widget-youtube">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="100%" src="https://www.youtube.com/embed/F5vqupbtEGE?list=PL_GGiAMracOWHzgUwaw-6rJTCEXlMjmIv" frameborder="0" allowfullscreen></iframe>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user pull-right icon-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>