<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/widget-list" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left icon-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Edit Widget
            </a>
            <p class="navbar-text pull-right">
                <a href="#/widget-list" class="navbar-link">
                    <span class="glyphicon glyphicon-ok icon-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <form>
        <div class="form-group">
            <label for="widget-heading-name">Name</label>
            <input value="Blog Post"
                   placeholder="Heading Name"
                   type="text"
                   class="form-control"
                   id="widget-heading-name"/>
        </div>
        <div class="form-group">
            <label for="widget-heading-text">Text</label>
            <input placeholder="Text"
                   type="text"
                   class="form-control"
                   id="widget-heading-text"/>
        </div>
        <div class="form-group">
            <label for="widget-heading-size">Size</label>
            <input placeholder="Size"
                   type="text"
                   class="form-control"
                   id="widget-heading-size"/>
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       href="#/widget-list"
       role="button">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user pull-right icon-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>